@charset "UTF-8";


/*Container FOrmulário*/
.container-form{
    display: flex;
    margin: 40px;
    width: 80%;
    justify-content: space-between;
    border: 1px solid #95613C;
    border-radius: 25px;
    padding: 5%;
    margin-bottom: 14%;
}


/*Div Formulário*/
.form{
    width: 50%;
}

.form h1, p{
    text-align: left;
    
}

.form h1{
    color: #95613C;
}

.form a{
    color: #95613C;
    text-decoration: none;
    word-wrap: break-word;
}

.form a:hover{
    text-decoration: underline;
    transition: 0.8s;
}

.inputs{
    padding-top: 70px;
    padding-bottom: 50px;
}

.email{
    text-align: left;
}

.email label{
    color: #95613C;
    text-align: left;
}

.senha{
    text-align: left;
}

.senha label{
    color: #95613C;
}

.btn{
    display: flex;
    background-color: #95613C;
    color: #fff;
    width: 80%;
    justify-content: center;
    margin-top: 30px;
}

.btn:hover{
    background-color: #ffffff;
    border: 1px solid #95613C;
    color: #95613C;
}

.check_esquecer{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 80%;
}

.checkbox{
    display: flex;
}

.checkbox input{
    border: 1px solid #95613C;
    margin-right: 7px;
}


/*Div imagem*/
.container-imagem{
    width: 30%;
    margin: auto;
}

.imagem{
    padding-left: 50px;
}

.imagem p{
    text-align: center;
}


/*Responsividade*/
@media screen and (max-width: 1000px){
    .container-imagem{
        display: none;
    }

    .form{
        width: 90%;
        margin: auto;
        box-sizing: content-box;
    }

}

@media screen and (max-width: 760px){
    .check_esquecer{
        flex-direction: column;
        text-align: left;
        font-size: 0.8em;
        width: 95%;
    }

}

@media screen and (max-width: 575px){
    .btn{
        display: inline-block;
    }

    .rodape{
        font-size: 0.8em;
    }

}