<body>
    <div class="container text-center  p-0">
        <!-- Principal -->
        <div class="container text-center">
            <div class="row container-form">
                <div class=" col ">
                    <div class=" form">
                        <h1>Dados Pessoais</h1>
                        <form action="/cadastrar" method="post">
                            <div class="m-auto row inputs">
                                <div class="col-sm-10 campos">
                                    <label for="inputNome" class="col-sm-2 col-form-label">Nome</label>
                                    <input type="text" class="form-control" id="inputNome" name="inputNome">

                                    <label for="inputTelefone" class="col-sm-2 col-form-label">Telefone</label>
                                    <input type="tel" class="form-control" id="inputTelefone" name="inputTelefone">

                                    <label for="inputEmail" class="col-sm-2 col-form-label">E-mail</label>
                                    <input type="email" class="form-control" id="inputEmail" name="inputEmail">

                                    <label for="inputAniversario" class="col-sm-2 col-form-label">Aniversário</label>
                                    <input type="date" class="form-control" id="inputAniversario" name="inputAniversario">

                                    <label for="inputPassword" class="col-sm-2 col-form-label">Senha</label>
                                    <input type="password" class="form-control" id="inputPassword" name="inputPassword">

                                    <label for="inputConfirmPassword" class="col-sm-2 col-form-label">Confirmar
                                        Senha</label>
                                    <input type="password" class="form-control" id="inputConfirmPassword" >

                                    <div class="botao">
                                        <input type="submit" class="form-control btn"
                                            value="Cadastrar">
                                    </div>

                                </div>


                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>