<div class="container text-center  p-0">
    <!-- Principal -->
    <div class="container text-center">
        <div class="row">
            <div class="col container-form ">
                <div class="lista_reservas">
                    <h1>Histórico de reservas</h1>
                    <div class="reserva">
                        <h4>Reserva 1</h4>
                        <p>dd/mm/aaaa hh:hh mesa: X</p>
                        <span><a href="#">Editar &#x270F;</a> <a href="#">Excluir &#x1F5D1;</a></span>
                    </div>
                    <div class="reserva">
                        <h4>Reserva 2</h4>
                        <p>dd/mm/aaaa hh:hh mesa: X</p>
                        <span><a href="#">Editar &#x270F;</a> <a href="#">Excluir &#x1F5D1;</a></span>
                    </div>
                    <div class="reserva">
                        <h4>Reserva 3</h4>
                        <p>dd/mm/aaaa hh:hh mesa: X</p>
                        <span><a href="#">Editar &#x270F;</a> <a href="#">Excluir &#x1F5D1;</a></span>
                    </div>
                    <div class="reserva">
                        <h4>Reserva 4</h4>
                        <p>dd/mm/aaaa hh:hh mesa: X</p>
                        <span><a href="#">Editar &#x270F;</a> <a href="#">Excluir &#x1F5D1;</a></span>
                    </div>
                </div>
                <div class="container-imagem">
                    <div class="imagem">
                        <img src="../Imagens/Foto.png" alt="">
                        <p>Seja bem-vindo(a) de volta!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>