<div class="container-infos text-center p-0">
    <!--IMG FUNDO-->
    <div class="row img_fundo m-0"></div>

    <!--CORPO-->
    <div class="row principal gx-0">

        <!--INFOS-->
        <div class="row info_geral gx-0">

            <!--NFORMAÇÕES-->
            <div class="row infos gx-0">
                <!--INFOS ESQUERDA-->
                <div class="row info_esq gx-0">
                    <div class="row logo gx-0">
                        <img src="https://user-images.githubusercontent.com/112758733/242298689-cc0ea27e-fe34-4c63-a85e-094a9fda1ff8.png" alt="Logo do restaurante">
                    </div>
                    <div class="row info_restaurante gx-0">
                        <div class="row img-textos gx-0">
                            <div class="textos">
                                <h3>&#x1F4C7;Sobre</h3>
                                <p>Algumas informações do resturante e do cardápio.</p>
                            </div>
                            <div class="textos">
                                <h3>&#x1F516;Preços</h3>
                                <p>Algumas informações da faixa de preço do restaurante.</p>
                            </div>
                            <div class="textos">
                                <h3>&#x1F553;Horários</h3>
                                <p>Algumas informações do resturante em relação aos horários de funcionamento.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--INFOS DIREITA-->
                <div class="row info_dir gx-0">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.3054506969106!2d-46.479110623672625!3d-23.521513860131304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce61270808f47f%3A0xddc2deca4778eb69!2sFATEC%20Zona%20Leste!5e0!3m2!1spt-BR!2sbr!4v1685317468511!5m2!1spt-BR!2sbr"
                        width="600" height="450" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>

        <!--BOTÕES-->
        <div class="row gx-0">
            <div class="botao">
                <input type="submit" class="form-control btn" id="inputEntrar" value="Fazer reserva" onclick="window.location.href='./reserva'">
                <input type="reset" class="form-control btn" id="inputCancelar" value="Entrar na fila" onclick="javascript:void(0);">
            </div>
        </div>
    </div>

</div>